<!doctype html>
<html lang="en" ng-app="karaokeApp">
<head>
  <!-- Boot Strap -->
  <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
  <meta name="viewport" content="width=device-width"/>
  <meta charset="utf-8">
  <link rel="stylesheet" href="karaoke/bower_components/bootstrap/dist/css/bootstrap.css">
  <link rel="stylesheet" href="karaoke/css/app.css">
  <link rel="stylesheet" href="karaoke/css/style.css">
  <script src="karaoke/bower_components/angular/angular.js"></script>
  <script src="http://nsa221/MyWeb/public/karaoke/bower_components/angular-resource/angular-resource.js"></script>
  <script src="http://nsa221/MyWeb/public/karaoke/bower_components/angular-resource/angular-resource.min.js"></script>
  <script src="karaoke/js/controllers.js"></script>
</head>
<body ng-controller="SongListCtrl">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-2">
        <!--Sidebar content-->
        Search: <input ng-model="query">
      <h3> Favorite </h3>
      <ul>
        <li>item1</li>
        <li>item2</li>
      </ul>
      </div>
      <div class="col-md-10">
        <!--Body content-->
        <table class="table table-hover"  >
          <tr>
              <th> ## </th>
              <th>Ten Bai Hat</th>
              <th>Ca Sy</th>
          </tr>
          <tr ng-repeat="song in songs | filter:query | limitTo: 15 ">
            <td> {{song.ID}} <a  ng-click ="addSong(song.ID,song.songName);">
          <span class="glyphicon glyphicon-thumbs-up"></span>
        </a></td>
            <td>  {{song.songName}}</td>
            <td> {{song.singer}}</td>
        </table>
      </div>
    </div>
  </div>
</body>
</html>
